.slide {
  flex: 0 0 100%;
}

.swiper {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
  color: theme('colors.white');
  width: 36px;
  height: 36px;
  top: 0;
  bottom: 0;
  margin: auto;
  font-weight: bolder;

  border-radius: 4px;
  background: rgba(255, 255, 255, 0.7); /** #FFF */
  box-shadow: 0px 1px 3px 0px rgba(204, 204, 204, 0.4); /** #CCC */
}

.swiper-lazy-preloader {
  background-size: contain;
  background-image: url('@/static/images/loading_large.gif');
  background-position: center;
  background-repeat: no-repeat;
  width: inherit;
  height: inherit;
  top: 0px;
  left: 0px;
  margin: 0px;
  animation: none;
  border: none;
}

.swiper:hover {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
  }
}

.swiper-button-prev {
  left: 0px;
  &::after {
    width: 24px;
    height: 24px;
    content: '';
    background-image: url('@/static/images/icons/chevron-left.svg');
  }
}

.swiper-button-next {
  right: 0px;
  &::after {
    width: 24px;
    height: 24px;
    content: '';
    background-image: url('@/static/images/icons/chevron-right.svg');
  }
}

.swiper :deep(.swiper-pagination-bullet) {
  width: 8px;
  height: 8px;
  opacity: 0.8;
  background-color: theme('colors.gray-100');
}
.swiper :deep(.swiper-pagination-bullet.swiper-pagination-bullet-active) {
  width: 36px;
  height: 8px;
  opacity: 1;
  border-radius: 8px;
  background-color: theme('colors.gold-500');
}

.slide-banner-img {
  width: 100%;
  max-width: 100%;
  display: block;
  img {
    max-width: 100%;
  }
}

.swiper-slide {
  img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}
