/*components 自訂樣式或調整*/
@layer components {
  /*
   * container
   * (Note: sm:container 與 container-sm 差別在 xs 時，sm:container 因為不符合 sm，沒有 class，就沒有 container 的 padding、margin。)
   **/

  .ec-container,
  .ec-container-fluid,
  .ec-container-xxl,
  .ec-container-xl,
  .ec-container-lg,
  .ec-container-md,
  .ec-container-sm {
    @apply mx-auto ec-col-px w-full;
  }

  /*414px*/
  @screen xs {
    .ec-container {
      max-width: 100%;
    }
  }

  /*576px*/
  @screen sm {
    .ec-container-sm,
    .ec-container {
      max-width: 540px;
    }
  }

  /*768px*/
  @screen md {
    .ec-container-md,
    .ec-container-sm,
    .ec-container {
      max-width: 760px;
    }
  }

  /*992px*/
  @screen lg {
    .ec-container-lg,
    .ec-container-md,
    .ec-container-sm,
    .ec-container {
      max-width: 960px;
    }
  }

  /*1280px*/
  @screen xl {
    .ec-container-xl,
    .ec-container-lg,
    .ec-container-md,
    .ec-container-sm,
    .ec-container {
      max-width: 1272px;
    }
  }

  .ec-row {
    @apply flex flex-wrap -mx-15;
  }

  .ec-row-no-gutter {
    @apply flex flex-wrap;
  }

  .ec-row-mx {
    @apply -mx-15;
  }

  .ec-row > * {
    @apply w-full px-15 max-w-full;
  }

  .ec-col-px {
    @apply px-15;
  }
  .e-col-space {
    @apply px-15 w-full max-w-full;
  }
  .ec-breadcrumb {
    @apply flex flex-wrap px-4 py-3 list-none;
  }
  .ec-breadcrumb-item {
    @apply flex flex-wrap list-none;
  }
  .ec-breadcrumb-item, .ec-breadcrumb-item a {
    @apply text-gray-7;
  }
  .ec-breadcrumb-item + .ec-breadcrumb-item {
    @apply pl-2;
  }
  /*breadcrumb icon*/
  .ec-breadcrumb-item:not(:first-child) {
    @apply before:text-[#6c757d] before:font-bold before:font-icomoon;
     &:before {
      @apply inline-block mt-[1px] mb-[-1px] !pl-0 !pr-2 !content-['\e980'] !text-[10px] !leading-5 !font-normal;
      color: theme('colors.gray-300');
     }
  }

  /* flex */
  .ec-e-flex-center {
    @apply flex justify-center items-center;
  }

  /* col-* */
  .ec-col {
    @apply flex-1;
  }
  .ec-col-auto {
    @apply flex-none w-auto;
  }
  .ec-col-1 {
    @apply flex-none max-w-[8.333333%];
    @apply basis-1/12;
  }
  .ec-col-2 {
    @apply flex-none max-w-[16.66666667%];
    @apply basis-2/12;
  }
  .ec-col-3 {
    @apply flex-none max-w-[25%];
    @apply basis-3/12;
  }
  .ec-col-4 {
    @apply flex-none max-w-[33.333333%];
    @apply basis-4/12;
  }
  .ec-col-5 {
    @apply flex-none max-w-[41.666667%];
    @apply basis-5/12;
  }
  .ec-col-6 {
    @apply flex-none max-w-[50%];
    @apply basis-6/12;
  }
  .ec-col-7 {
    @apply flex-none max-w-[58.333333%];
    @apply basis-7/12;
  }
  .ec-col-8 {
    @apply flex-none max-w-[66.666667%];
    @apply basis-8/12;
  }
  .ec-col-9 {
    @apply flex-none max-w-[75%];
    @apply basis-9/12;
  }
  .ec-col-10 {
    @apply flex-none max-w-[83.333333%];
    @apply basis-10/12;
  }
  .ec-col-11 {
    @apply flex-none max-w-[91.666667%];
    @apply basis-11/12;
  }
  .ec-col-12 {
    @apply flex-none w-full max-w-[100%];
    @apply basis-full;
  }

  .ec-cart-price-red {
    @apply before:content-['$'] text-red-d0 font-bold font-sans-ch;
  }

  .ec-badge {
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 0.25em 0.4em;
  }

  .ec-border-b {
    @apply border-b border-solid border-gray-blue;
  }
  .ec-border-t {
    @apply border-t border-solid border-gray-blue;
  }
}
