---

---

<div class="max-w-4xl mx-auto p-8 font-sans">
  <h1 class="text-3xl text-gray-800 text-center mb-8">Welcome to Astro Project</h1>
  <nav>
    <h2 class="text-xl text-gray-600 mb-4">Available Pages:</h2>
    <ul class="list-none p-0">
      <li class="my-2">
        <a href="/" class="ec-btn ec-btn-outline-secondary">
          Home
        </a>
      </li>
      <li class="my-2">
        <a href="/sample/pinia-test" class="ec-btn ec-btn-outline-eslite-red">
          Pinia Test
        </a>
      </li>
      <li class="my-2">
        <a href="/sample/screens-test" class="ec-btn ec-btn-outline-gold-500">
          Screens Test
        </a>
      </li>
      <li class="my-2">
        <a href="/sample/vue-demo" class="ec-btn ec-btn-outline-eslite-secondary">
          Vue Demo
        </a>
      </li>
      <li class="my-2">
        <a href="/sample/swiper-test" class="ec-btn ec-btn-outline-eslite-light-brown">
          Swiper Test
        </a>
      </li>
      <li class="my-2">
        <a href="/sample/bootstrap-test" class="ec-btn ec-btn-outline-secondary">
          Bootstrap Test
        </a>
      </li>
      <li class="my-2">
        <a href="/sample/icon-sample" class="ec-btn ec-btn-outline-black">
          Icon Sample
        </a>
      </li>
    </ul>
  </nav>
</div>
