/* src/assets/tailwind.css */

/* Base layer (包含 reset 和 bootstrap base) */
@import "layer/reset.css";
@import "layer/bootstrap-base.css";
@import "layer/bootstrap4-custom-controls.css";
@import "layer/ec-buttons.css";
@import "layer/custom-components.css";
@import "layer/custom-utilities.css";
@import "layer/overwrite-style-utilities.css";
@tailwind base;
/* Components layer */
@tailwind components;
/* Utilities layer */
@tailwind utilities;

