// tailwinds new
$light-brown: #696158;
$bling-brown: #a88b24;
$mid-gold: #6a625a;
$light-gold: #8a6927;
$gold-c9: #c9b27d;
$gold-ad: #ad8431;
$gold-ab: #ab9569;
$gold-a5: #A58B55;
$gold-89: #896d45;
$gold-91: #917E57;
$gold-f0: #F0E9D8;
$gold-f7: #f7f3ec;
$black: #000;
$white: #FFF;
$light-gray: #eeede1;
$gray-3: #333;
$gray-6: #666;
$gray-7: #777;
$gray-9: #999;
$gray-c: #CCC;
$gray-cf: #CFCFCF;
$gray-d: #DDD;
$gray-e: #EEE;
$gray-f4: #F4F4F4;
$gray-f5: #f5f5f5;
$gray-f8: #F8F8F8;
$gray-62: #626262;
$gray-21: #212224;
$gray-2125: #212529;
$blue: #0260a6;
$light-blue: #0a8ca8;
$blue-3c: #3C7AF6;
$blue-1e: #1e88e5;
$pink: #e55970;
$light-pink: #fde8e8;
$light-pink-6: #FDE6E8;
$light-pink-50: #FEF2F3;
$orange: #ffa311;
$orange-ff9: #FF9800;
$orange-fff: #FFF3E0;
$purple: #7a4d9a;
$purple-60: #601986;
$yellow-50: #FFFDE7;
$yellow-100: #FFF9C4;
$green: #297a6f;
$light-green: #70b102;
$dark-green: #38421c;
$brand-green: #545e3a;
$bright-green: #22AC38;
$green-66: #66BB6A;
$red: #a82130;
$light-red: #c23847;
$red-d0: #d00008;
$red-88: #881b27;
$very-light-pink-two: #cccccc;
$red-cb: #CB0008;
$red-e6: #E60012;
$red-fc: #FC0619;
$red-7d: #7D1924;
$red-ff5: #FF5966;
$red-ff: #FFF6F6;
$sepia: #8A6927FF;
$camel-50: #F8F8F8;
$camel-300: #7D7773;
$camel-500: #6A625A;
$gold-50: #F0E9D8;
$gold-300: #C9B27D;
$gold-400: #A58B55;
$gold-500: #917E57;
$gold-600: #6E6039;
$red-50: #FFF0F1;
$red-100: #FFDDE0;
$red-200: #FFC1C6;
$red-300: #FF959D;
$red-400: #FF5966;
$red-500: #FC0619;
$red-600: #E60012;
$red-700: #CB0008;
$pink-50: #FEF2F3;
$pink-100: #F5ACB4;
$pink-200: #FAD1D6;
$pink-300: #F5ACB4;
$pink-400: #EE7E8D;
$pink-500: #E55970;
$pink-600: #CF2F51;
$pink-700: #AE2243;
$orange-50: #FFF3E0;
$orange-100: #FFE0B2;
$orange-200: #FFCC80;
$orange-300: #FFB74D;
$orange-400: #FFA726;
$orange-500: #F39800;
$yellow-200: #FFF59D;
$yellow-300: #FFF176;
$yellow-400: #FFEE58;
$yellow-500: #FFF100;
$yellow-600: #FDD835;
$yellow-700: #FBC02D;
$green-50: #E8F5E9;
$green-100: #C8E6C9;
$green-200: #A5D6A7;
$green-300: #81C784;
$green-400: #66BB6A;
$green-500: #22AC38;
$blue-50: #E3F2FD;
$blue-100: #BBDEFB;
$blue-200: #90CAF9;
$blue-300: #64B5F6;
$blue-400: #42A5F5;
$blue-500: #00A0E9;
$blue-600: #1E88E5;
$blue-700: #0062B1;
$teal-50: #E0F2F1;
$teal-100: #B2DFDB;
$teal-200: #80CBC4;
$teal-300: #4DB6AC;
$teal-400: #26A69A;
$teal-500: #009688;
$teal-600: #00897B;
$teal-700: #00796B;
$purple-50: #EDE7F6;
$purple-100: #D1C4E9;
$purple-200: #B39DDB;
$purple-300: #9575CD;
$purple-400: #7E57C2;
$purple-500: #673AB7;
$purple-600: #601986;
$purple-700: #5E35B1;
$purple-a-100: #A78AFB;
$eslite-green: #545E3A;
$eslite-red: #A82130;
$violet: #5B6098;
$gray-50: #F4F4F4;
$gray-80: #EEEEEE;
$gray-100: #DDDDDD;
$gray-200: #CCCCCC;
$gray-300: #999999;
$gray-400: #666666;
$gray-500: #333333;
$gray-800: #212224;

// eslite define
$eslite-primary: #38421c;
$eslite-light: #eeede1;
$eslite-secondary: #626262; //#537800;
$eslite-product-secondary: #999999;
$eslite-breadcrumb: #777;
$eslite-light-brown: #696158;
$eslite-red: #a82130;
$eslite-price-red: #d00008;
$eslite-bling-brown: #a88b24;
$eslite-pink: #fde8e8;
$eslite-bg-gray: #f5f5f5; //#f1f1ef;

$eslite-theme-colors: (
  "eslite-primary": $eslite-primary,
  "eslite-secondary": $eslite-secondary,
  'eslite-product-secondary': $eslite-product-secondary,
  "eslite-light": $eslite-light,
  "eslite-light-brown": $eslite-light-brown,
  "eslite-red": $eslite-red,
  "eslite-bling-brown": $eslite-bling-brown,
  "eslite-pink": $eslite-pink,
  "eslite-bg-gray": $eslite-bg-gray,

  secondary: #6c757d, // for search bar btn-outline-secondary

  //- new ver
  // brand colors
  "e-dark-gold": #333333,
  "e-mid-gold": #6a625a,
  "e-light-gold": #8a6927,
  "e-light-gold-c9": #c9b27d,
  "e-light-gold-ad": #ad8431,
  "e-light-gold-ab": #ab9569,

  // middle colors
  "black": #000,
  "d-gray-3": #333,
  "d-gray-6": #666,
  "m-gray-9": #999,
  "m-gray-c": #CCC,
  "m-gray-cf": #CFCFCF,
  "m-gray-d": #DDD,
  "l-gray-e": #EEE,
  "l-gray-d": #DDD,
  "l-gray-f4": #F4F4F4,
  "white": #FFF,

  // feature colors
  "e-red": #a82130,
  "e-l-pink": #fde8e8,
  "e-skeleton-bg": #F4F4F4,

  //tags ?
  "e-blue": #0260a6,
  "e-l-blue": #0a8ca8,
  "e-pink": #e55970,
  "e-yellow": #ffa311,
  "e-purple": #7a4d9a,
  "e-green": #297a6f,
  "e-l-green": #70b102,
  "e-brand-green": #545e3a,

  //header
  "e-light-red": #c23847,
  "e-dark-red": #a82130,

  //price
  "e-light-red-d0": #d00008,

  // [new]tailwinds
  'gold-500': #917E57, // **Primary Key Color**
);

:root {
  --dark-green-blue: #297a6f;
  --ocean-blue: #0260a6;
  --pinkish: #e55970;
  --yellowish-orange: #ffa311;
  --sepia: #8a6927;
  --very-light-pink: #fde8e8;
  --military-green: #545e3a;
  --nice-blue: #0a8ca8;
  --dark-lime-green: #70b102;
  --rouge: #a82130;
  --light-eggplant: #7a4d9a;
  --brown-grey: #999999;
  --greyish-brown: #6a625a;
  --black: #000000;
  --brownish-grey: #666666;
  --white: #ffffff;
  --very-light-pink-two: #cccccc;
  // new
  --gray-dark: #3e3a39;
  --military-green: #545e3a;
  --gold: #896d45;
  --gold-500: #917E57;

  @each $name, $variable in $eslite-theme-colors {
    --#{$name}: #{$variable};
  }
}

// Common
$enable-rounded: false; //不要 radius

// Navbar
$toggler-icon-border: 0px;

// Tab
$eslite-tab-border-width: 2px;
$eslite-tab-hover-border-width: 2px;
$eslite-tab-border-color: $eslite-primary;
$eslite-tab-hover-border-color: $eslite-secondary;
$nav-tabs-border-width: 0px; // tab : 平常要無框

// breadcrumb
$breadcrumb-bg: none;
$breadcrumb-active-color: $eslite-breadcrumb;

// lang
$custom-file-text: (
  en: 'Browse',
  es: 'Elegir',
  tw: '選擇檔案',
  cn: '請選檔案',
  jp: '請選檔案',
);
